body {
  background-color: #e9e9e9 !important;
}

.f-panel {
  background-color: #fff;
  height: 455px;
  position: relative;
  border-radius: 10px;
}

.f-panel-big, .f-panel-right {
  @extend .f-panel;
  margin: 40px 0px;
}

.f-panel-big {
  padding: 15px;
}

.f-panel-left {
  @extend .f-panel;
  margin: 40px 20px 40px 0px;
}

.f-bottom-bar {
  border-radius: 0px 0px 10px 10px;
  background-color: #dbdbdb;
  height: 100px;
  position: absolute !important;
  top: 360px;
  width: 100%;
}

.f-bottom-bar-correct {
  @extend .f-bottom-bar;
  background-color: $colour-correct-bkgrd;
}

.f-bottom-bar-wrong {
  @extend .f-bottom-bar;
  background-color: $colour-wrong-bkgrd;
}
