body {
  background-color: #e9e9e9 !important;
}

.panel {
  background-color: #fff;
  height: 455px;
  position: relative;
  border-radius: 10px;
}

.panel-big {
  margin: 40px 0px;
  width: 100%;
}

.panel-left {
  margin: 40px 40px 40px 10px;
}

.panel-right {
  margin: 40px 10px 40px 0px;
}