@import "../modules/variables.scss";

%f-btn {
  border-radius: 33px;
  color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 18px;
  height: 42px;
  width: 132px;
}

.f-btn-primary {
  @extend %f-btn;
  background-color: $colour-primary;
}

.f-btn-primary:hover {
  background-color: $colour-primary-hover;
}

.f-btn-disabled {
  @extend %f-btn;
  background-color: $colour-disabled;
  pointer-events: none;
}

.f-btn-proceed {
  @extend %f-btn;
  background-color: $colour-secondary;
}
