@import "../modules/variables.scss";

%f-btn {
  border-radius: 33px;
  color: white;
  padding: 13px;
  margin: 50px 20px 20px 20px;
  text-align: center;
}

.f-btn-primary {
  @extend %f-btn;
  background-color: $blue-primary;
}