.f-fluency-text {
  display: inline;
  font-size: 22px;
  font-weight: $font-med;
  position: relative;
  top: 100px;
  margin-left: 25px;
}

.f-continue-btn {
  float: right;
  position: relative;
  bottom: 25px;
}
