%f-map {
  color: $colour-text-mild;
  font-size: 24px;
  display: inline;
  padding: 20px 10px;
}

.f-map-title {
  @extend %f-map;
  float: left;
}

.f-quit {
  @extend %f-map;
  float: right;
}

.f-quit:hover {
  color: $colour-primary;
}

.f-map-img {
  padding: 0px 40px;
  margin: 0px auto;
  display: block;
  width: 750px;
  height: 315px;
}

#path5914 {
  fill: #21CC49;
}

.f-map-next {
  display: inline-block;
  float: right;
  margin: 0px 10px;
}

.f-map-random {
  height: 40px;
  display: inline;
  margin: 0px 10px;
}
