%f-map {
  color: $colour-text-mild;
  font-size: 24px;
  display: inline;
  padding: 20px 10px;
}

.f-map-title {
  @extend %f-map;
  float: left;
}

.f-quit {
  @extend %f-map;
  float: right;
  &:hover {
    color: $colour-primary;
  }
}

.f-map-img {
  padding: 0px 40px;
  margin: 0px auto;
  display: block;
  width: 750px;
  height: 315px;
}

.f-map-next {
  display: inline-block;
  float: right;
  margin: 0px 10px;
}

.f-map-random {
  height: 40px;
  display: inline;
  margin: 0px 10px;
  &:hover {
    cursor: pointer;
  }
}


//map area css

%f-map-selected {
  fill: $colour-map-selected;
    &:hover {
    cursor: pointer;
  }
}

%f-map-unselected {
  fill: $colour-map;
    &:hover {
    cursor: pointer;
  }
}

.f-map-selected-na, .f-map-selected-sa, .f-map-selected-af, .f-map-selected-eu, .f-map-selected-as, .f-map-selected-oc {
  @extend %f-map-selected;
}

.f-map-unselected-na, .f-map-unselected-sa, .f-map-unselected-af, .f-map-unselected-eu, .f-map-unselected-as, .f-map-unselected-oc {
  @extend %f-map-unselected;
}
