%f-map {
  color: $colour-text-mild;
  font-size: 24px;
  display: inline;
  padding: 20px 10px;
}

.f-map-title {
  @extend %f-map;
  float: left;
}

.f-quit {
  @extend %f-map;
  float: right;
  &:hover {
    color: $colour-primary;
  }
}

.f-map-img {
  padding: 0px 40px;
  margin: 0px auto;
  display: block;
  width: 750px;
  height: 315px;
}

.f-map-next {
  display: inline-block;
  float: right;
  margin: 0px 10px;
}

.f-map-random {
  height: 40px;
  display: inline;
  margin: 0px 10px;
}


//map area css
//north america
#path5916, #path5870, #path5882 {
  //there are more paths to add
}
//south america
#path5918, #path5842, #path5872 {
}

.f-map-clicked {
  fill: #2CCA2A;
}
