.nav {
  background-color: $main-blue;
  min-height: 70px;
  width: 100%;
  position: relative;
}

.nav-logo {
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-weight: $font-bold;
  font-size: 20pt;
  margin-left: 10px;
}