.f-nav {
  background-color: $blue-primary;
  min-height: 70px;
  position: relative;
}

.f-nav-logo {
  color: #fff;
  height: 60px;
  line-height: 60px;
  font-weight: $font-bold;
  font-size: 20pt;
  margin-left: 10px;
}