%f-progress-bar {
  min-width: 300px;
  margin: 0px auto;
  display: block;
}

.f-progress-bar-outer {
  @extend %f-progress-bar;
  border-radius: 10px;
  border: 1px #949494 solid;
  height: 20px;
}

.f-progress-bar-top {
  @extend %f-progress-bar;
  border-radius: 10px 10px 0px 0px;
  background-color: #e55c45;
  height: 10px;
}

.f-progress-bar-btm {
  @extend %f-progress-bar;
  border-radius: 0px 0px 10px 10px;
  background-color: #cd503b;
  height: 10px;
}

.f-instruct-text {
  text-align: center;
  font-size: 28px;
  margin-top: 18px;
}

%f-box {
  border: 1px solid;
  border-radius: 8px;
  height: 130px;
  width: 260px;
  margin: 30px auto;
  display: block;
  font-size: 22px;
  text-align: center;
}

.f-boxQ {
  @extend %f-box;
  box-shadow: 3px 3px 3px #B9B9B9;
  border-color: #B9B9B9;
  line-height: 100px;
}

.f-boxA {
  @extend %f-box;
  box-shadow: 3px 3px 3px #1cb0f6;
  border-color: #1cb0f6;
}

.f-fillQ {
  margin: 20px 10px 20px 20px;
  display: inline;
  font-size: 22px;
  position: relative;
}

.f-fillA {
  border: 1px solid;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #1cb0f6;
  border-color: #1cb0f6;
  height: 45px;
  width: 250px;
  display: inline;
  padding: 10px;
}

.f-bottom-bar {
  border-radius: 0px 0px 10px 10px;
  background-color: #dbdbdb;
  height: 100px;
  position: absolute !important;
  top: 360px;
}

.f-checkQ {
  float: right;
  margin-top: 15px;
}

.f-Q2 {
  margin: 60px 0px;
}