.progress {
  padding: 30px 10px 0px 5px;
  font-weight: 600;
  color: #343434;
  text-align: center;
}

.prog-percent {
  color: #999999;
  position: relative;
  bottom: 115px;
  left: 50px;
  font-size: 30px;
}

.badge {
  position: relative;
  left: 3px;
}

.badge-icon {
  height: 160px;
  width: 160px;
}

.reset {
  margin: 155px 20px 20px 20px;
}