.f-progress {
  padding: 40px 20px 0px 15px;
  font-weight: 600;
  color: #343434;
  text-align: center;
}

.f-prog-percent {
  color: #999999;
  position: relative;
  bottom: 122px;
  left: 42px;
  font-size: 42px;
}

.f-progress-badge {
  position: relative;
  left: 3px;
  margin: 40px 5px 0px 5px;
  display: inline-block;
}

.f-badge-icon {
  height: 160px;
  width: 160px;
}

.f-reset {
  margin: 45px 20px 20px 20px;
}

.f-reset:hover {
  cursor: pointer;
}
