//basic browser reset styles
@import "partials/reset"; 
//variables
@import "modules/variables";
//component styles
@import "partials/nav";
@import "partials/buttons";
@import "partials/left-panel";
@import "partials/right-panel";
@import "partials/background";
@import "partials/base";
@import "partials/map-pg";
@import "partials/question-pg";
//libs
@import "../../lib/bootstrap-grid/css/bootstrap.css";


