//basic browser reset styles
@import "partials/reset"; 
//variables
@import "modules/variables";
//component styles
@import "partials/nav";
@import "partials/buttons";
@import "partials/left-panel";
@import "partials/right-panel";
@import "partials/grid";
@import "partials/background";


h1, h2, h3, h4, h5, h6, p, span {
  font-family: Raleway, sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}


