//colours
$colour-primary: #20A6e7;
$colour-primary-hover: #3EBBF7;
$colour-text-mild: #999999;
$colour-disabled: #bcbcbc;
$colour-map: #cc5252;
$colour-map-selected: #84297f;
$colour-secondary: #7ac70c;
$colour-secondary-hover: #94c500;
$colour-correct-bkgrd: #DEF0A5;
$colour-wrong-bkgrd: #FFD4CC;
$colour-correct-text: #769c00;
$colour-wrong-text: #DD381D;



$font-lite: 400;
$font-med: 500;
$font-bold: 600;
$main-font: Raleway, sans-serif !important;
