$main-blue: #20A6e7;

//basic browser reset styles
@import reset; 


body {
  background-color: #e9e9e9 !important;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: Raleway, sans-serif !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.badge-div {
  color: red;
}

.nav {
  background-color: $main-blue;
  min-height: 70px;
  width: 100%;
  position: fixed;
}

.nav-logo {
  color: #fff;
  margin-left: 20%;
  height: 60px;
  line-height: 60px;
}
